@charset "UTF-8";


*{margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;}
   
   ::-webkit-scrollbar{height: 0px;
        width: 0px;}

        img {width: 100vw;;
            position: center center;}

            body { text-align: center;
                background-color:darkred;}

                a{  color: white;
                    font-weight: bolder;}